# Getting Started

In [52]:
import sys

In [53]:
print(sys.version)

3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]

In [54]:
import platform

In [55]:
platform.python_version()

'3.7.3'

In [56]:
# A Hello World example
print("Hello World")

Hello World

## test number operation

In [57]:
3 + 5

8

In [58]:
8*4

32

# Variables and Assignment

In [59]:
# The variable x referes to he memory location of the assigned value
x = 3

In [60]:
# type function indicates the type of the variable, 
# very useful to explore the more complex types we will encounter when we build models. 
type(x)

int

In [61]:
y = 2.1

In [62]:
type(y)

float

In [63]:
z = 'test'

In [64]:
id(z)

2906610950304

In [65]:
id(y)

2906649120008

# Memory Allocation

In [66]:
# The basic data types are immutable objects. 
# An immutable object doesn't allow the contents to be modified. 
# Trying to modify the content will create a new object 
# Note in the below example the address printed are different. 
x = 10
print(id(x))
x = x + 1
print(id(x))

140722694952032
140722694952064

In [67]:
type(z)

str

In [68]:
first_string_variable='test'
first_integer_variable = 123

In [69]:
print(first_string_variable)
print(first_integer_variable)

test
123

In [70]:
print(type(first_integer_variable))
print(type(first_string_variable))

<class 'int'>
<class 'str'>

# Multiple Assignments

In [71]:
number_example

NameError: name 'number_example' is not defined

In [ ]:
number_example = 2
number_example

In [ ]:
integer_x , integer_y = 5 ,22

In [ ]:
integer_x

In [ ]:
integer_y

# Basic Data Types : Integer & Float

In [ ]:
# This is the behaviour in python 3 in python 2 the value will be rounded to the nearest integer so the answer will be 3
int_number = 7/2
int_number

# Basic Data Types : String

In [ ]:
# string with single quotes
string_one = 'first string'
# string with double quotes
string_two = "second string"
# string with three double quotes
string_three = """third string"""

In [ ]:
print(string_one)
print(string_two)
print(string_three)

# Basic Data Types : None and Boolean

In [ ]:
num_x = None

In [ ]:
type(num_x)

In [ ]:
num_x is None

In [ ]:
num_x = 10
num_x is None

# Type Casting

You can change the data type of a number using type casting

In [ ]:
float_number = 3.6467

In [ ]:
float_number

In [ ]:
int(float_number)

In [ ]:
str(float_number)

In [72]:
float_number.as_integer_ratio

# Data Structure : Tuple

A tuple is a one-dimensional , immutable ordered sequence of items which can hold mixed data types

In [73]:
first_tuple = (12, 'jack',45.6,True,(3,2),'test')

In [74]:
first_tuple

(12, 'jack', 45.6, True, (3, 2), 'test')

In [75]:
first_tuple[0]

12

In [76]:
first_tuple[1]

'jack'

In [77]:
# Try to modify a tuple
first_tuple[0] = 'new value'

TypeError: 'tuple' object does not support item assignment

## Data Structure : Accessing Tuples

In [78]:
# Accessing elements using a positive index
# The index count starts from the left, with the first index being 0
first_tuple[0]

12

In [79]:
# Accessing element usina a negative index
# The index count starts from the right, with the first index being -1
first_tuple[-1]

'test'

In [80]:
first_tuple[-3]

True

## Data Structure : Slicing Tuples

In [81]:
first_tuple

(12, 'jack', 45.6, True, (3, 2), 'test')

In [82]:
# Creating a subset/slice of the orignal tuple
# Specify the indicies of the elements, seperated by a colon
# The first index is inclusive; the second index is exclusive
first_tuple[1:3]

('jack', 45.6)

In [83]:
# so to slice all the way to the end element
first_tuple[2:6]

(45.6, True, (3, 2), 'test')

In [84]:
# you can use negative indices as well to slice a tuple
# count from the right, starting from -1 to specify the correct index
first_tuple[1 : -1]

('jack', 45.6, True, (3, 2))

In [85]:
first_tuple.count('jackie')

0

# Data Structure : List

A list is a one-dimensional mutable ordered sequence of items which can be of mixed data types

In [86]:
first_list = ['Mark',101,23,'test',None,11]

In [87]:
first_list

['Mark', 101, 23, 'test', None, 11]

In [88]:
# append an element to the end of the list
first_list.append("jack")

In [89]:
first_list

['Mark', 101, 23, 'test', None, 11, 'jack']

In [90]:
# Remove an element using its value from the list
first_list.remove('Mark')

In [91]:
first_list

[101, 23, 'test', None, 11, 'jack']

In [ ]:
# remove an element from the list using the index
first_list.pop(2)

In [ ]:
first_list

In [ ]:
# Modify a list by inserting an element at a specific position in the list
first_list.insert(1,'smith')
first_list

In [92]:
help(first_list)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

## Data Structures : Accessing Lists

Like tuples you can access the elements in a list through indices

# Data Structure : Dictionary (dict)

Dictionaries store a mapping between a set of keys and a set of values

The content in dictionary exist as key value pairs

In [93]:
first_dict = {'Jhon':'john@abc.com','kelly':'k@abc.com','id':[23,18]}

KeyError: 0

In [ ]:
# View all the keys
first_dict.keys()

In [ ]:
# View values only
first_dict.values()

In [ ]:
second_dict = {(1,2):'raj'}

In [ ]:
second_dict[(1,2)]

## Data Structure : Access and Modify Dict Elements

In [ ]:
# Accessing with Key 
first_dict['Jhon']

In [ ]:
first_dict['id']

In [ ]:
# Modify dictionay value
first_dict.update({'id':[32,35]})

In [ ]:
first_dict

In [ ]:
# deleting an entry in a dictionary
del first_dict['id']

In [ ]:
first_dict

# Data Structure : Set

A Set is an unorder collection of unique elements

In [ ]:
auto_survey = set(['Audi','BMW','BMW','Ferrai','GM','Merc','GM'])

In [ ]:
auto_survey

In [ ]:
type(auto_survey)

## Operations

In [ ]:
american_brands = set(['Ford','GMC','Dodge','Chevy','Cadillac'])

asian_brands = set(['Hyundai','Honda','Toyota','Ford','Chevy'])

european_brands = set(['BMW','Volvo','Ford','GM'])

In [ ]:
all_brands_in_world = american_brands | asian_brands | european_brands

In [ ]:
all_brands_in_world

In [ ]:
brands_all_parts_of_world = american_brands & asian_brands & european_brands

In [ ]:
brands_all_parts_of_world

# Basic Operator : "in"

The 'in' operator is used to generate a Boolean value to indicate whether a given value is present in the container or not

In [ ]:
student_list = ['animesh','chandraleela','monica','brian','peu','manvish','reshma','kishore']

In [ ]:
'monica' in student_list

In [ ]:
'Mark' in student_list

In [ ]:
# Test the presence of substrings in a string
word = 'DS for python'

'D' in word

In [ ]:
'a' in word

# Basic operator "+"

In [ ]:
test_score1 = (68,96,71)
test_score2 = (92,87,83)

In [ ]:
# Add two tuppples
test_score1 + test_score2

In [ ]:
country_list1 = ['USA','Canada','Brazil','Mexico']
country_list2 = ['India','China','Srilanka']

country_list1 + country_list2

# Basic operator "*"

# Functions

In [ ]:
# My first python functions

def my_first_python_fun(arg1,arg2):
    changed_string = ("I combined %s and %s" %(arg1,arg2))
    return changed_string

my_first_python_fun("DS", "Python")

In [ ]:
# Multiple return values from a function

def multi_return_fun():
    age = 20
    name = "xyz"
    address = "abc"
    return age,name,address

age,name,address = multi_return_fun()
print(age,name,address)

# Built in sequence functions

## Enumerate

In [ ]:
store_list = ['McDonald','Taco Bell','Dunkin','Wendys']

In [ ]:
print(list(enumerate(store_list)))

In [ ]:
print(list(enumerate(store_list,10)))

In [ ]:
store_map = dict((name,pos) for pos,name in enumerate(store_list))

In [ ]:
store_map

## Sorted

In [ ]:
sort_entry = sorted('the data science')

In [ ]:
type(sort_entry)

In [ ]:
sort_entry

## Reversed

In [ ]:
rev = reversed('the data science')

In [ ]:
type(rev)

In [ ]:
list(rev)

## Zip

In [ ]:
subjects = ['math','stats','science']
subject_students=[56,48,96]

In [ ]:
total_subj = zip(subjects,subject_students)

In [ ]:
type(total_subj)

In [ ]:
a = list(total_subj)

In [ ]:
a

In [ ]:
a[0]

In [ ]:
a

# Control Flow

The program flow control statements

## if , elif and else

In [ ]:
age = 21

def adult_finder(age):
    if(age > 18):
        return 'Major'
    else:
        return 'Minor'

In [ ]:
adult_finder(16)

In [ ]:
adult_finder(25)

## For loops

A 'for' loop is used to iterate over a collection

In [ ]:
tech_compaines = ['Apple','Microsoft','Google',None,'Amazon','Facebook']

In [ ]:
for one_company in tech_compaines:
    if(one_company is None):
        continue # continues the foor loop
    print(one_company)

In [ ]:
for one_company in tech_compaines:
    if(one_company is None):
        break # breaks the for loop
    print(one_company)

## While loops

A while loop specifies a condition unitll whic a block of code has to run

In [ ]:
temperature = 100

while temperature > 95:
    print(temperature)
    temperature -= 1 # same as temperature = temparatue - 1

## Exception Handling

Handling exceptions is an important part of building robust programs

**Reference : https://docs.python.org/3/tutorial/errors.html**

In [ ]:
def float_number(number):
    return float(number)

In [ ]:
float_number('7.265')

In [ ]:
float_number("DS with Python")

In [ ]:
def test_float_with_exp(number):
    try:         
        return float(number)
    except ValueError:
        return 'not a valid numeric',number

In [ ]:
test_float_with_exp('test')