# Create a Pandas series

## From list

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
first_series = pd.Series(list('abcdef'))

In [ ]:
type(first_series)

In [ ]:
# Check out what is printed, we have an index and the data is aligned to the index
print(first_series)

## From a Numpy NdArray

In [ ]:
np_country = np.array(['India','China','USA','Canada','Finland','Norway'])

In [ ]:
s_country = pd.Series(np_country)

In [ ]:
type(s_country)

In [ ]:
print(s_country)

## By specifying index

In [ ]:
country_captial = pd.Series(['Delhi','Bejing','Tokyo','Washington'],index=['India','Bejing','Japan','USA'])

In [ ]:
type(country_captial)

In [ ]:
print(country_captial)

## From a Scalar

In [ ]:
scalar_series = pd.Series(5.,index=['a','b','c','d','e'])

In [ ]:
scalar_series

# Accessing Elements in Series

In [ ]:
country_captial[0]

In [ ]:
type(country_captial[0])

In [ ]:
country_captial[0:6]

In [ ]:
country_captial.loc['India']

In [ ]:
country_captial.iloc[0]

# Vectorized Operation in Series

In [ ]:
first_vector = pd.Series([1,2,3,4], index = ['a','b','c','d'])

In [ ]:
second_vector= pd.Series([10,20,30,40], index = ['a','b','c','d'])

In [ ]:
first_vector + second_vector

In [ ]:
second_vector= pd.Series([10,20,30,40], index = ['a','d','c','b'])

In [ ]:
first_vector + second_vector

In [ ]:
# Replace few indicies with new ones in one of the vector
second_vector= pd.Series([10,20,30,40], index = ['a','b','e','f'])

In [ ]:
first_vector + second_vector

# Data Frame

A two dimensional labeled data structure with coloums of potentially different types

## From Dictionary

In [ ]:
import pandas as pd

In [ ]:
olympic_hosts = {'HostCity': ['London','Beijing','Athens','Sydney','Atlanta'],
                'Year':[2012,2008,2004,2000,1996],
                'No of participating countries':[205,204,201,200,197]}

In [ ]:
type(olympic_hosts)

In [ ]:
df_olympic_hosts = pd.DataFrame(olympic_hosts)

In [ ]:
df_olympic_hosts

In [ ]:
df_olympic_hosts.index

In [ ]:
olympic_hosts.keys()

In [ ]:
olympic_data_dict = {'London':{2012:205},'Beijing':{2008:204}}

In [ ]:
df_olympic_data_dict = pd.DataFrame(olympic_data_dict)

In [ ]:
olympic_data_dict

In [ ]:
df_olympic_data_dict

# View Data Frame

In [ ]:
df_olympic_hosts

In [ ]:
df_olympic_hosts.HostCity

In [ ]:
type(df_olympic_hosts.HostCity)

In [ ]:
df_olympic_hosts.Year

In [ ]:
df_olympic_hosts.describe

- [ ] **90 sec : Create DataFrame from dict of Series-26**

- [ ] **60 sec : Create DataFrame from a dict of ndarray**

- [ ] **30 sec : Create DataFrame from a dict of ndarray**

# Handling Missing Values

In [ ]:
import pandas as pd

In [ ]:
first_series = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])

In [ ]:
first_series

In [ ]:
second_series = pd.Series([10,20,30,40,50],index=['c','e','f','g','h'])

In [ ]:
second_series

In [ ]:
sum_of_series = first_series + second_series

In [ ]:
sum_of_series

In [ ]:
## Drop all the entires with NaN
dropna_s = sum_of_series.dropna()

In [ ]:
dropna_s

In [ ]:
type(dropna_s)

In [ ]:
## Fill all NaNs with zeros
sum_of_series.fillna(0)

In [ ]:
## Fill missing values with zero before doing an operation

sum_of_series_with_zeros_before_sum = first_series.add(second_series,fill_value=0)

sum_of_series_with_zeros_before_sum

### Other methods of filling missing data 

Refernces 

https://www.omicsonline.org/open-access/a-comparison-of-six-methods-for-missing-data-imputation-2155-6180-1000224.pdf 

https://scikit-learn.org/stable/modules/impute.html 

https://towardsdatascience.com/6-different-ways-to-compensate-for-missing-values-data-imputation-with-examples-6022d9ca0779

# Data Operation

In [ ]:
# Lets create a movie rating data frame

import pandas as pd

df_movie_rating = pd.DataFrame({'movie 1':[5,4,3,3,2,1],
                              'movie 2':[4,3,5,2,5,4]},
                              index = ['Tom','Jeff','Peter','Ram','Ted','Paul'])

## Custom Function

In [ ]:
df_movie_rating

In [ ]:
## Lets change the rating scale from numeric to Alphabetic 

def movie_grade(rating):
    if rating ==5:
        return 'A'
    elif rating == 4:
        return 'B'
    elif rating == 3:
        return 'C'
    else:
        return 'F'

In [ ]:
movie_grade(2)

In [ ]:
df_modifed_mov_rating = df_movie_rating.applymap(movie_grade)

In [ ]:
id(df_modifed_mov_rating) is id(df_movie_rating)

In [ ]:
df_modifed_mov_rating

In [ ]:
df_movie_rating

## Stastical Functions

In [ ]:
df_test_scores = pd.DataFrame({'Test1':[95,84,73,88,82,61],'Test2':[74,85,82,73,77,79]},
                             index=['Jack','Ram','Raj','Rich','Jay','Paul'])

In [ ]:
df_test_scores

In [ ]:
df_test_scores.max()

In [ ]:
df_test_scores.mean()

In [ ]:
df_test_scores.std()

In [ ]:
df_test_scores.describe()

## Using Groupby

In [ ]:
df_presidents_name = pd.DataFrame({'first':['George','Bill','Ronald','Jimmy','George'],
                                  'last':['Bush','Clinton','Regan','Carter','Washington']})

In [ ]:
df_presidents_name

In [ ]:
grouped = df_presidents_name.groupby('first')

In [ ]:
type(grouped)

In [ ]:
grouped.describe()

In [ ]:
grouped.get_group('George')

## Sorting

In [ ]:
df_presidents_name.sort_values('first')

- [ ] **30 sec: Find out what happens you sort by last name**

## Data Standardization

In [ ]:
def standardize_tests(test):
    return (test - test.mean())/test.std()

In [ ]:
standardize_tests(df_test_scores['Test1'])

In [ ]:
df_test_scores

In [ ]:
def standardize_test_scores(dataForm):   
    return dataForm.apply(standardize_tests)

In [ ]:
standardize_test_scores(df_test_scores)

In [ ]:
df_test_scores

# Pandas SQL Operation

In [ ]:
import pandas as pd

In [ ]:
import sqlite3

In [ ]:
## Create the SQL statement to execute
create_table = """
CREATE TABLE student_score
(Id INTEGER,Name VARCHAR(20), Math REAL,Science REAL)

"""

In [ ]:
# connect to the sql instance
executeSQL = sqlite3.connect(':memory:')

In [ ]:
type(executeSQL)

In [ ]:
# Execute the SQL statement
executeSQL.execute(create_table)
executeSQL.commit()

In [ ]:
# Prepare a SQL query
SQL_Query = executeSQL.execute('select * from student_score')

In [ ]:
type(SQL_Query)

In [ ]:
resultset = SQL_Query.fetchall()

In [ ]:
resultset

In [ ]:
# insert SQL records

insertSQL = [(10,'Jack',85,92),
            (29,'Tom',73,89),
            (65,'Ram',65.5,77),
            (5,'Steve',55,91)]

In [ ]:
insert_statement = "Insert into student_score values(?,?,?,?)"
executeSQL.executemany(insert_statement,insertSQL)
executeSQL.commit()

In [ ]:
SQL_Query = executeSQL.execute('select * from student_score')

In [ ]:
resultset = SQL_Query.fetchall()

In [ ]:
resultset

In [ ]:
SQL_Query.description

In [ ]:
list(zip(*SQL_Query.description))

In [ ]:
df_student_records = pd.DataFrame(resultset)

In [ ]:
df_student_records

In [ ]:
df_student_records.columns = list(zip(*SQL_Query.description))[0]

In [ ]:
df_student_records

## How did this magic happen ??

Nothing is impossible to undersand for the curious kind

### Unpacking with * operator - Example

In short, the unpacking operators are operators that unpack the values from iterable objects in Python. The single asterisk operator * can be used on any iterable that Python provides

In [ ]:
## Unpacking with * operator

def my_sum(a, b, c):
    print(a + b + c)

my_list = [1, 2, 3]
my_sum(*my_list)

### Let's Disect

In [ ]:
type(SQL_Query.description)

In [ ]:
SQL_Query.description[0]

In [ ]:
list(zip(*SQL_Query.description))

In [ ]:
print(*SQL_Query.description)

In [ ]:
print(SQL_Query.description)